@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: 29, 78, 216; /* Indigo-600 */
  --secondary-color: 79, 70, 229; /* Indigo-700 */
  --accent-color: 16, 185, 129; /* Green-500 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color: 165, 180, 252; /* Indigo-300 */
    --secondary-color: 129, 140, 248; /* Indigo-400 */
    --accent-color: 52, 211, 153; /* Green-400 */
  }
}

body {
  @apply text-base leading-relaxed;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

a {
  @apply text-indigo-600 hover:text-indigo-700;
}

button {
  @apply bg-indigo-600 text-white py-2 px-4 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

input, textarea {
  @apply border border-gray-300 text-black rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
}

select {
  @apply border border-gray-300 text-black rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
}

.form-error {
  @apply text-red-600 dark:text-red-400;
}

span {
  @apply text-sm font-medium text-gray-700 dark:text-gray-300;
}

form {
  @apply bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md w-full max-w-md;
}

label {
  @apply block mb-4;
}

main {
  @apply flex items-center justify-center min-h-screen;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
